{% extends 'base.html' %}

{% block titulo %}
<title>Edit Profile</title>
{% endblock titulo %}

{% block texto_header %}
<h1>
    Profile update {{request.user.username}}
</h1>
{% endblock texto_header %}

{% block content %}
<p>
    <form action={% url 'editar_perfil' %} method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Save</button>
    </form>
    <p>
        <a href={% url 'cambiar_password' %}>Change password</a>
    </p>
</p>
{% endblock content %}