{% extends 'base.html' %}

{% block titulo %}
<title>Profile</title>
{% endblock titulo %}

{% block texto_header %}
<h1>
    User Profile {{request.user.username}}
</h1>
{% endblock texto_header %}

{% block content %}
<p>
    <ul>
        <li>Name: {{request.user.first_name}}</li>
        <li>Last name: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        <li>
            <p>Avatar:</p>
            {% if request.user.masdatosusuario.avatar %}
            <img src={{request.user.masdatosusuario.avatar.url}} alt="" height="200px">
            {% endif %}
        </li>
    </ul>
</p>
<p>
    <a href={% url 'editar_perfil' %}>Edit my profile</a>
</p>
{% endblock content %}