{% extends 'base.html' %} 
{% block titulo %}
<title>Inicio Blog</title>
{% endblock titulo %} 

{% block header %} 
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    {% block texto_header %}
                    <h1>Blog de CTSJ</h1>
                    {% endblock texto_header %} 
                    {% block subtexto_header %}
                    <span class="subheading">Bienvenidos</span>
                    {% endblock subtexto_header %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %} 

{% block content %}

<div class="contenido">
        
        
        
        <div class="container">
            <h1 class="text-center titulo">Resumen de proyecto final</h1><br><br>
            <p class="parrafo">Para realizar este proyecto se tomaron en cuenta todas las pautas dadas durante la cursada. Todas las funcionalidades de la pagina fueron revisadas! Esperamos que disfruten nuestro proyecto final!</p> <br>

            <h2 class="titulo text-center">Develops</h2><br>
            <p class="parrafo text-center">Mariano San Juan y Diego Cardozo</p>
        </div> 






</div>
{% endblock content %}